@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body, html {
    /*overflow:hidden;*/
    margin: 0;
    height: 100%;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #6fa585;
    text-shadow: 1px 1px 3px #fff;

}

.sky {
    height: 100%;
    color: #FFF;
    display: block;
    background-color: #6fa585;
}
font, h4, h3, pre {
    position: relative;
    z-index:1231231;
    /*text-shadow: 1px 1px 3px #fff;*/
}
pre {
    background: #d8c1c1;
    border: 2px solid #af4f27;
    /*border-left: 3px solid #f36d33;*/
    color: #360606;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.2;
    margin: 10px;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-transform: none;
    border-radius: 10px;
    text-shadow: none;
}
